---
title: GitLab CI/CD Training
suppress_header: true
description: "Learn how to set up continuous Integration/Continuous Deployment (CI/CD) for your software production projects to improve product delivery times and quality"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_cicd" }
    .row
      .col-md-12
        %h2 Course Syllabus
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 10:00a
                  %td Introduction
                  %td 
                    %ul
                      %li Current CI/CD Setup
                      %li What is CI/CD?
                      %li Life without CI/CD
                      %li Concurrent DevOps Journey
                %tr
                  %td 10:00a - 1:00p
                  %td GitLab CI/CD
                  %td 
                    %ul
                      %li GitLab CI/CD Overview
                      %li Added Benefits of with GitLab
                      %li Anatomy of a CI/CD Build
                      %li GitLab CI/CD Basics- YAML File
                      %li Build Images
                      %li <strong>Demo</strong>: YML Example
                      %li Services and Variables
                      %li Final CI
                      %li Stages and Jobs
                      %li <strong>Hands on Lab</strong>: Setup CI/CD
                      %li <strong>Hands on Lab</strong>: YAML Files
                      %li Job Definitions
                      %li Job Environments
                      %li Before and After Scripts
                      %li Caching
                      %li Artifacts & On Success
                      %li <strong>Hands on Lab</strong>: Job Parts
                      %li GitLab Pages
                %tr
                  %td 1:00 - 4:30p
                  %td GitLab Runners
                  %td 
                    %ul
                      %li Runner Architecture
                      %li Runner Examples
                      %li Tagged Runners
                      %li <strong>Hands on Lab</strong>: Runner Usage
                      %li <strong>Hands on Lab</strong>: CI/CD Practice Lab 1
                      %li <strong>Hands On Lab</strong>: CI/CD Practice Lab 2
        <a href='https://drive.google.com/file/d/1VM7m3TlkiCEF4Ptunc2X22mcKfZ-Ss0e/view?usp=sharing'> Download the syllabus</a>  
        = partial "includes/services/requirements", locals: { id: "training_sessions_cicd" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_cicd" }
