---
title: Version Control & collaboration
suppress_header: true
canonical_path: "/solutions/version-control/"
extra_css:
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content-x
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 GitLab Version Control & Collaboration
    %p
      Make sense of software development and deliver value incrementally


.content-container.padding-vertical20
  .content-container.padding-vertical0.grey-bg
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/value-drivers.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/advantage-2.html.haml')

  .content-container.padding-vertical0.grey-bg
    / ----- This creates the Call to Action - Download a Report, E-Book, etc.
    .container
      = partial('includes/solutions/vcc/cta-ebooks.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/vcc/worldline-quote.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/vcc-roadmap.html.haml')

  .content-container.padding-vertical0.white-bg
    / ----- This creates the Case Studies Carousel  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.vcc.case_studies
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

  .content-container.padding-vertical0.grey-bg
    / ----- This creates the Gartner Peer Insights  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.vcc.gartner_peer_insights
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })
