.row.links
  .col-xs-1.col-md-1
  .col-xs-11.col-md-6
    %h2 Resources
    %ul
      %li
        Please see
        = link_to "/get-help/" do
          Get help for GitLab
        if you have questions
      %li
        Security
        %a{ href: "https://youtu.be/U2_dqwTRUVk" }
          Dashboard demo
      %li
        Deep Dive into a
        %a{ href: "https://youtu.be/k4vEJnGYy84" }
          Security demo
      %li
        %a{ href: "https://docs.gitlab.com/ee/user/application_security/secret_detection/" }
          Secret Detection
      %li
        See how
        %a{ href: "https://about.gitlab.com/blog/2018/09/11/what-south-africa-taught-me-about-cybersecurity/" }
          integration
        is the key to successful DevSecOps
      %li
        See how we
        %a{ href: "https://about.gitlab.com/devops-tools/" }
          compare
        against other Security tools
