- relative_path = current_page.file_descriptor.relative_path

%h5
  Contribute to this page

%div
  = link_to('View source', blob_editor_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
  &bull;
  = link_to('Open in Web IDE', web_ide_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
- if handbook_product_page?(relative_path)
  .d-flex.align-items-center.mt-2
    = link_to('Open in Static Site Editor', static_site_editor_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
    %span.badge.ml-4
      Beta
